* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background:linear-gradient(90deg, rgb(253, 212, 212),rgb(190, 190, 248));
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 3em;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

.product-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow:hidden;
    transition: transform 0.3s ease;
     box-shadow: 0.3s ease;
    display: flex;
    flex-direction: column;
}

.product-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

 img {
    width: 100%;
    height:100%;
    object-fit: cover;
}

 h3 {
    margin: 15px;
    font-size: 1.2em;
}
 p {
    margin: 0 15px;
    color: #534747;
}

.price {
    margin: 15px;
    font-size: 1.5em;
    font-weight: bold;
    color: #e74c3c;
}

.cart-btn {
    margin: 15px;
    padding: 10px;
    background-color: #3498db;
    color: white;
    font-size: large;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-btn:hover {
    background-color: #2980b9;
}

.back-btn{
    margin: 15px auto;
    padding: 10px ;
    display: block;
    width: 20%;
    border: 2px solid white ;
    border-radius: 15px;
    background-color: #9dd6fc;
    text-align: center;
}
a{
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    color: #181616;
    cursor: pointer;
    text-align: center;
}

.back-btn:hover{
    transform: scale(1.02);
    background-color: rgb(215, 245, 245);

}
@media (max-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 15px;
    }
    
    .product-card h3 {
        font-size: 1em;
    }
    
    .price {
        font-size: 1.3em;
    }
}
